.faq-accordion__wrapper {
  position: relative;
}
.faq-accordion__wrapper:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='700' height='57' viewBox='0 0 700 57' fill='none'%3E%3Cmask id='mask0_9240_178' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='-523' y='0' width='1748' height='867'%3E%3Cpath d='M641.167 0C645.334 0 648.896 2.76904 651.287 6.18262L679.419 46.3428C684.098 53.022 691.74 57 699.895 57H1212C1219.18 57 1225 62.8203 1225 70V854C1225 861.18 1219.18 867 1212 867H-510C-517.18 867 -523 861.18 -523 854V70C-523 62.8203 -517.18 57 -510 57H2.10547C10.2604 57 17.9023 53.022 22.5811 46.3428L50.7129 6.18262C53.104 2.76904 56.6656 0 60.8333 0H641.167Z' fill='%23424242'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9240_178)'%3E%3Crect y='-1' width='700' height='58' fill='%23EEEDDD'/%3E%3C/g%3E%3C/svg%3E");
  width: 700px;
  height: 57px;
  position: absolute;
  top: -56px;
  left: 50%;
  transform: translate(-50%);
  background-size: cover;
  background-position: bottom center;
}
.faq-accordion__item-description {
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.is-open .faq-accordion__item-description {
  opacity: 1
}
.faq-accordion__eyebrow {
  margin: 0 0 10px;
}
.faq-accordion__heading {
  margin: 0 0 20px;
  color: #1C1C1A;
  text-align: center;
}
.faq-accordion__description {
  text-align: center;
  margin: 0;
}
.faq-accordion__item {
  border-radius: 5px;
  background: #F4F3E8;
}
.faq-accordion__item-title {
  font-size: 20px;
  line-height: 120%!important;
  letter-spacing: .2px;
  margin: 0;
  padding: 22px 51px 22px 32px;
  position: relative;
  cursor: pointer;
  font-weight: 400;
}
.faq-accordion__item-description {
  padding-inline: 32px;
}
.faq-accordion__item-title .faq-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
}
.faq-accordion__item-description * {
  margin: 0;
}
.faq-accordion__item-description * + * {
  margin-top: 16px;
}
.faq-accordion__item-description *:last-child {
  margin-bottom: 20px;
}
.faq-accordion__item-description strong {
  font-weight: 700;
}
.is-open .faq-accordion__item-description {
  margin-top: -4px;
}
.faq-accordion__contents {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.faq-accordion__contents > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.icon-minus,
.faq-accordion__item.is-open .icon-plus {
  display: none;
}
.faq-accordion__item.is-open .icon-minus {
  display: block;
}

@media (max-width: 980px) {
  .faq-accordion__item-title {
    font-size: 14px;
    padding: 16px 40px 16px 16px;
  }
  .is-open .faq-accordion__item-description {
    margin-top: 0;
  }
  .faq-accordion__contents > div {
    gap: 12px;
    width: 100%;
  }
  .faq-accordion__contents {
    gap: 12px;
    margin-top: 25px;
    flex-direction: column;
  }
  .faq-accordion__item-title .faq-icon {
    right: 16px;
  }
  .faq-accordion__item-description {
    padding-inline: 16px;
  }
  .faq-accordion__heading {
    margin: 0 0 8px;
    text-align: left;
  }
  .faq-accordion__description {
    text-align: left;
  }
  .faq-accordion__wrapper:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='35' viewBox='0 0 180 35' fill='none'%3E%3Cmask id='mask0_9253_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='-170' y='0' width='360' height='1259'%3E%3Cpath d='M154.846 19.0713C158.625 28.5977 167.835 34.8525 178.084 34.8525C184.665 34.8525 190 40.1875 190 46.7686V1246C190 1253.18 184.18 1259 177 1259H-157C-164.18 1259 -170 1253.18 -170 1246V47.8525C-170 40.6728 -164.18 34.8525 -157 34.8525H1.08789C11.3365 34.8525 20.5471 28.5977 24.3262 19.0713L28.6362 8.20639C30.6013 3.25264 35.3908 0 40.7201 0H138.452C143.781 0 148.571 3.25264 150.536 8.2064L154.846 19.0713Z' fill='%23424242'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9253_8)'%3E%3Crect width='180' height='35' fill='%23EEEDDD'/%3E%3C/g%3E%3C/svg%3E");
    width: 180px;
    height: 35px;
    top: -34px;
    left: unset;
    transform: unset;
    right: 10px;
  }
  .faq-accordion {
    overflow: hidden;
  }
  .faq-accordion__feat-container { position: relative; }
  .faq-accordion__feat-img {
    max-width: 360px;
    margin-bottom: -120px;
    margin-inline: auto;
  }
  .faq-accordion__feat-img.accordion-feat-addon {
    position: absolute;
    bottom: 100px;
    max-width: 100px;
    left: calc(50% + 120px);
    transform: translateX(-50%) rotate(16deg);
    z-index: 1;
    margin-bottom: 0;
  }
}

@media (max-width: 580px) {
  .faq-accordion__heading {
    max-width: 248px;
  }
}