/* details container */
.product-offer__info-details {
  padding: 0 32px 36px;
  background: #FAFAF5;
  border-radius: 0 10px 10px 10px;
  margin-bottom: 32px;
  margin-top: 32px;
  position: relative;
}
.product-offer__info-details:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='392' height='32' viewBox='0 0 392 32' fill='none'%3E%3Cmask id='mask0_9267_19' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='680' height='376'%3E%3Cpath d='M358.025 0C365.299 0 370.894 6.35251 374.456 12.695C375.25 14.1093 376.193 15.4642 377.284 16.7373L386.98 28.0449C391.73 33.5842 398.662 36.7725 405.959 36.7725H667C674.18 36.7725 680 42.5928 680 49.7725V363C680 370.18 674.18 376 667 376H13C5.8203 376 0 370.18 0 363V13C0 5.82029 5.8203 0 13 0H358.025Z' fill='%23424242'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9267_19)'%3E%3Crect y='-1' width='392' height='33' fill='%23FAFAF5'/%3E%3C/g%3E%3C/svg%3E");
  width: 392px;
  height: 32px;
  position: absolute;
  top: -31px;
  left: 0;
  background-size: cover;
  background-position: right;
}

@media (max-width: 980px) {
  .product-offer__info-details {
    padding: 1px 16px 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  .product-offer__info-details:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='235' height='24' viewBox='0 0 235 24' fill='none'%3E%3Cmask id='mask0_9267_20' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='328' height='307'%3E%3Cpath d='M204.872 0C209.837 0 214.049 3.36074 217.084 7.29004L221.278 12.7207C226.012 18.8498 233.32 22.4385 241.064 22.4385H315C322.18 22.4385 328 28.2588 328 35.4385V294C328 301.18 322.18 307 315 307H13C5.82031 307 0 301.18 0 294V13C0 5.8203 5.8203 0 13 0H204.872Z' fill='%23424242'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9267_20)'%3E%3Crect width='235' height='24' fill='%23FAFAF5'/%3E%3C/g%3E%3C/svg%3E");
    width: 235px;
    height: 24px;
    top: -23px;
  }
}

/* reviews */
.product-offer__info-reviews {
  display: grid;
  grid-template-columns: 93px auto;
  gap: 8px;
  align-items: center;
  margin-top: 0;
  color: rgba(28, 28, 26, 0.60);
  position: relative;
}
.product-offer__info-reviews a {
  color: #1C1C1A;
  text-decoration: unset;
}

@media (max-width: 980px) {
  .product-offer__info-reviews {
    grid-template-columns: 60px auto;
    font-size: 13px;
    margin-top: -7px;
  }
}

/* eyebrow */
.product-offer__info-eyebrow {
  font-size: 20px;
  color: #859A0E;
  margin-top: 0;
}

@media (max-width: 980px) {
  .product-offer__info-eyebrow {
    font-size: 14px;
  }
}

/* heading */
.product-offer__info-title {
  margin-top: 0;
  color: #1C1C1A;
}

/* description */
.product-offer__info-description {
  max-width: 541px;
  font-size: 18px;
}
.product-offer__info-description strong { font-weight: 500; }
.product-offer__info-description > * { margin: 0; }
.product-offer__info-description > * + * { margin-top: 16px; }

@media (max-width: 980px) {
  .product-offer__info-description {
    font-size: 15px;
  }
}

/* divider */
.product-offer__info-divider {
  display: block!important;
  width: 100%;
  height: 1px;
}

/* product lists */
.product-offer__lists ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 20px;
}
.product-offer__lists li {
  display: grid;
  grid-template-columns: 16px auto;
  gap: 8px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 980px) {
  .product-offer__lists ul {
    column-gap: 0;
    row-gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .product-offer__lists li {
    grid-template-columns: 14px auto;
    font-size: 14px;
  }
}

/* product form */
.product-offer__container {
  display: grid;
  grid-template-columns: calc(50% - 24px) calc(50% - 24px);
  gap: 48px;
}
.product-offer__contents-info img {
  display: block;
  max-height: 80px;
  width: 94px;
  object-fit: contain;
  object-position: center;
}
.product-offer__variant-title {
  font-size: 20px;
  margin: 0 0 4px;
  font-weight: 600;
}
.product-offer__variant-title strong {
  color: #5C6B1A;
  font-weight: 600;
}
.product-offer__variant-supply {
  color: #7B7B16;
  margin: 0;
  font-weight: 400;
}
.product-offer__contents-info {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 22px;
  align-items: center;
}
.product-offer__variant-price {
  color: #848484;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
.product-offer__variant-price .price-reg {
  color: #1C1C1A;
  font-weight: 600;
  font-size: 20px;
}
.product-offer__variant-price .price-comp {
  text-decoration: line-through;
}
.product-offer__variant-contents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 0.5px solid #BBB;
  background: #FFF;
  padding: 9px 31px 9px 9px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.product-offer__variant-item:nth-child(2) .product-offer__variant-contents,
.product-offer__variant-item:nth-child(3) .product-offer__variant-contents { border-radius: 5px 5px 0 0; }

.selected .product-offer__variant-contents {
  background: #F4FEC1;
  border-color: #B4D014;
}
.product-offer__form-variants {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 8px;
}
.product-offer__variant-tag {
  text-transform: uppercase;
  color: #2C320E;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  position: absolute;
  border-radius: 12px;
  background: #B4D014;
  padding: 4px 8px;
  right: 31px;
  top: -12px;
}
.product-offer__variant-item:last-child .product-offer__variant-tag {
  color: #FFF;
  background: #5C6B1A;
}
.product-offer__free-info p {
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}
.product-offer__free-info img {
  display: block;
  line-height: 1;
  width: 37px;
  height: 37px;
  object-fit: cover;
  border: 0.5px solid #5C6B1A;
}
.product-offer__free-info {
  display: flex;
  gap: 19px;
  align-items: center;
}
.product-offer__free-price {
  color: #F4F3E8;
  font-weight: 600;
  line-height: 1;
  border-radius: 12px;
  background: #5C6B1A;
  padding: 4px 8px;
  display: flex;
  gap: 4px;
  margin: 0;
}
.product-offer__free-price span {
  color: rgba(244, 243, 232, 0.75);
  text-decoration: line-through;
}
.product-offer__free-products li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 470px;
}
.product-offer__free-products li {
  background: #FFFFFF;
  padding: 6px 9px;
  border-radius: 0 0 4px 4px;
  border: 1px dashed #BBB;
  border-top: 0;
  transition: all 0.3s ease;
}
.product-offer__free-products li:not(:last-child) {
  border-radius: 0;
}
.selected .product-offer__free-products li {
  background: #F4FEC1;
  border-color: #B4D014;
}
.product-offer__free-products {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.product-offer__subscription input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.product-offer__subscription {
  border-radius: 5px;
  border: 1px dashed #B4D014;
  background: transparent;
  display: block;
  cursor: pointer;
  padding: 7px 14px;
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}
.product-offer__subscription:has(input:checked) {
  background: #F4FEC1;
}
.product-offer__subscription-title {
  font-weight: 400;
  padding-left: 34px;
  margin: 0;
  font-size: 12px;
  color: #282828;
}
.product-offer__subscription-description {
  color: #282828;
  padding-left: 34px;
  margin: 0;
  font-size: 10px;
}
.subscription-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #5C6B1A;
  border-radius: 99px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 14px;
  top: 13px;
  transition: all .15s ease;
}
.subscription-checkbox::after {
  content: '';
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: transform 0.15s ease;
  background-color: #5C6B1A;
  border-radius: 99px;
}
.product-offer__subscription input:checked + .subscription-checkbox::after {
  transform: scale(1);
}
.product-offer__btn { max-width: 100%; }
.product-offer__btn .btn-compare {
  font-weight: 300;
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.72);
  transition: all 0.3s ease;
}
.product-offer__btn:hover .btn-compare { color: #16170CB8 }

.product-offer__btn {
  position: relative;
  cursor: pointer;
}
.product-offer__btn.loading {
  pointer-events: none;
  background: #00000069;
  border-color: #00000069;
}
.product-offer__btn.loading:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3CradialGradient id='a12' cx='.66' fx='.66' cy='.3125' fy='.3125' gradientTransform='scale(1.5)'%3E%3Cstop offset='0' stop-color='%23156A41'/%3E%3Cstop offset='.3' stop-color='%23156A41' stop-opacity='.9'/%3E%3Cstop offset='.6' stop-color='%23156A41' stop-opacity='.6'/%3E%3Cstop offset='.8' stop-color='%23156A41' stop-opacity='.3'/%3E%3Cstop offset='1' stop-color='%23156A41' stop-opacity='0'/%3E%3C/radialGradient%3E%3Ccircle transform-origin='center' fill='none' stroke='url(%23a12)' stroke-width='15' stroke-linecap='round' stroke-dasharray='200 1000' stroke-dashoffset='0' cx='100' cy='100' r='70'%3E%3CanimateTransform type='rotate' attributeName='transform' calcMode='spline' dur='2' values='360;0' keyTimes='0;1' keySplines='0 0 1 1' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle transform-origin='center' fill='none' opacity='.2' stroke='%23156A41' stroke-width='15' stroke-linecap='round' cx='100' cy='100' r='70'/%3E%3C/svg%3E");
  width: 32px;
  height: 32px;
  background-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-offer__btn-footnotes {
  display: grid;
  grid-template-columns: 18px auto;
  gap: 6px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 12px 0 0;
}

@media (max-width: 980px) {
  .product-offer__container {
    grid-template-columns: 100%;
    gap: 16px;
  }
  .product-offer__contents-info img {
    max-height: 49px;
    width: 57px;
  }
  .product-offer__variant-title {
    font-size: 16px;
    margin: 0;
  }
  .product-offer__variant-supply {
    font-size: 14px;
  }
  .product-offer__contents-info {
    grid-template-columns: 57px auto;
    gap: 9px;
  }
  .product-offer__variant-price .price-reg {
    font-size: 16px;
  }
  .product-offer__variant-contents {
    padding: 0 16px 0 12px;
  }
  .product-offer__form-variants {
    gap: 16px;
  }
  .product-offer__variant-tag {
    padding: 2px 8px;
    right: 16px;
    top: -8px;
    font-size: 10px;
  }
  .product-offer__free-info p {
    font-size: 12px;
  }
  .product-offer__free-info img {
    width: 28px;
    height: 28px;
  }
  .product-offer__free-info {
    gap: 10px;
  }
  .product-offer__free-price {
    border-radius: 10px;
    padding: 3px 8.5px;
    font-size: 10px;
  }
  .product-offer__free-products li > div {
    max-width: 300px;
  }
  .product-offer__free-products li {
    padding: 5px;
  }
  .product-offer__subscription {
    padding: 2px 14px;
  }
  .product-offer__subscription-title {
    padding-left: 28px;
    font-size: 10px;
  }
  .product-offer__subscription-description {
    padding-left: 28px;
    font-size: 8px;
  }
  .subscription-checkbox {
    width: 14px;
    height: 14px;
    left: 14px;
    top: 6.5px;
  }
  .subscription-checkbox::after {
    width: 6px;
    height: 6px;
  }
  .product-offer__btn-footnotes {
    grid-template-columns: 16px auto;
    gap: 4px;
    margin: 8px 0 0;
  }
  .product-offer__variant-price {
    gap: 0px;
  }
  .product-offer__btn {
    font-size: 16px!important;
  }
}
/* product media */

/* accordion */
.product-offer__acc-item {
  background: #EEEDDD!important;
}

/* product gallery */
.product-offer__main-slider,
.product-offer__main-slider .swiper-slide,
.product-offer__main-slider .swiper-slide img,
.product-offer__nav-slider,
.product-offer__nav-slider .swiper-slide,
.product-offer__nav-slider .swiper-slide img {
  display: block;
  line-height: 1;
}
.product-offer__main-slider .swiper-slide img {
  border-radius: 10px;
}
.product-offer__nav-slider .swiper-slide img {
  border-radius: 4px;
  border: solid 1px transparent;
  opacity: 0.4;
  transition: all 0.3s ease;
}
.product-offer__nav-slider .swiper-slide.swiper-slide-thumb-active img {
  opacity: 1;
  border-color: #000;
}
.product-offer__nav-slider-outer { position: relative; }
.product-offer__nav-slider {
  position: relative;
  margin-top: 16px;
}
.product-offer__buttons-inner svg {
  fill: #F4F3E8;
}
.product-offer__buttons-inner rect {
  stroke: #000;
}
.product-offer__buttons-inner path {
  fill: #000;
}
.product-offer__buttons-inner .swiper-btn-button {
  display: block;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: -24px;
  cursor: pointer;
}
.product-offer__buttons-inner .swiper-button-next-button {
  left: unset;
  right: -24px;
}
.product-offer__buttons-inner .swiper-btn-button.swiper-button-disabled {
  opacity: 0.3;
  cursor: unset;
}
.product-offer__media-inner {
  position: sticky;
  top: 92px;
}

@media (max-width: 980px) {
  .product-offer__buttons-inner {
    display: none;
  }
  .product-offer__media-inner {
    top: 0;
  }
}

@media (max-width: 580px) {
  .product-offer__main-slider {
    margin-right: -16px;
  }
  .product-offer__nav-slider .swiper-slide img,
  .product-offer__nav-slider .swiper-slide.swiper-slide-thumb-active img {
    opacity: 0;
  }
  .product-offer__nav-slider-outer {
    max-width: 83px;
  }
  .product-offer__nav-slider .swiper-slide {
    aspect-ratio: 1;
    background: #B4D014;
    border-radius: 99px;
    opacity: 0.3;
    transition: all 0.3s ease;
  }
  .product-offer__nav-slider .swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
  }
  .product-offer__media-inner {
    position: relative;
  }
  .product-offer__nav-slider-outer {
    max-width: 85px;
    position: absolute;
    right: 10px;
  }
  .product-offer__nav-slider {
    margin-top: 20px;
  }
}
/* product galleryend */

/* sticky button */
.product-offer__container {
  position: relative;
  z-index: 10;
}
.product-offer__sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  opacity: 0;
  transition: all .3s ease;
  grid-template-columns: 50px auto;
  gap: 17px;
  padding: 16px;
  background: #fff;
  border-top: solid 1px #45774940;
}
.product-offer__sticky img {
  display: block;
  line-height: 1;
  border-radius: 6px;
}
.product-offer__sticky.fixed {
  opacity: 1;
}
.product-offer__sticky-button span:first-child {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  line-height: 130%;
}
.product-offer__sticky-button span:last-child {
  display: grid;
  grid-template-columns: 17px auto;
  gap: 4px;
  color: #B4D014;
  justify-content: center;
  align-items: center;
  line-height: 130%;
  font-size: 12px;
  transition: all 0.3s ease;
}
.product-offer__sticky-button {
  width: 100%;
  border-radius: 5px;
  background: #16170C;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #16170C;
  transition: all 0.3s ease;
  text-decoration: none;
}
.product-offer__sticky-button:hover { background: transparent; }
.product-offer__sticky-button:hover span:first-child,
.product-offer__sticky-button:hover span:last-child { color: #16170C; }
.product-offer__sticky-button:hover span:last-child path { fill: #16170C; }

@media (max-width: 980px) {
  .product-offer__sticky { display: grid; }
}

/* kaching */
.kaching-bundles .kaching-bundles__bar-title {
  color: #1C1C1A;
  font-family: "Inter Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 4px;
}
.kaching-bundles .kaching-bundles__bar-subtitle {
  color: #7B7B16;
  font-family: "Inter Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.kaching-bundles .kaching-bundles__bar-price {
  color: #1C1C1A;
  text-align: right;
  font-family: "Inter Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 4px;
}
.kaching-bundles .kaching-bundles__bar-full-price {
  color: #848484;
  text-align: right;
  font-family: "Inter Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  text-decoration-line: line-through;
}
.kaching-bundles .kaching-bundles__bar-image {
  width: 94px;
  object-fit: contain;
}
.kaching-bundles .kaching-bundles__bar-wrapper {
  padding: 9px 31px 9px 9px!important;
  border: .5px solid #BBB;
  background: #fff;
  border-radius: 5px 5px 0 0;
  transition: all .3s ease;
}
.kaching-bundles .kaching-bundles__bar:first-child .kaching-bundles__bar-wrapper {
  border-radius: 5px;
}
.kaching-bundles .kaching-bundles__bar.kaching-bundles__bar--selected .kaching-bundles__bar-wrapper {
  background: #F4FEC1;
  border-color: #B4D014;
}
.kaching-bundles .kaching-bundles__bar-container:has(.kaching-bundles__bar-most-popular--simple) .kaching-bundles__bar-main {
  margin: 0;
}
.kaching-bundles .kaching-bundles__bar-main {
  gap: 8px;
  min-height: auto;
}
.kaching-bundles .kaching-bundles__free-gift__image {
  display: block;
  line-height: 1;
  width: 37px;
  height: 37px;
  object-fit: cover;
  border: .5px solid #5C6B1A;
  border-radius: 0;
}
.kaching-bundles .kaching-bundles__free-gift__text {
  color: #1C1C1A;
  font-family: "Inter Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.kaching-bundles .kaching-bundles__free-gift__main {
  gap: 19px;
  max-width: 370px;
}
.kaching-bundles .kaching-bundles__free-gift {
  background: #fff;
  padding-block: 6px;
  padding-inline: 9px;
  border-radius: 0 0 4px 4px;
  border: 1px dashed #BBB;
  border-top: 0;
  transition: all .3s ease;
  margin: 0;
  justify-content: unset;
}
.kaching-bundles .kaching-bundles__bar--selected .kaching-bundles__free-gift {
  margin-inline: 0;
  padding-block: 6px;
  padding-inline: 9px;
}
.kaching-bundles .kaching-bundles__bar--selected .kaching-bundles__free-gift:last-child,
.kaching-bundles .kaching-bundles__free-gift:last-child {
  margin-block-end: 0;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
}
.kaching-bundles .kaching-bundles__free-gift__divider {
  display: none;
}
.kaching-bundles .kaching-bundles__bar {
  margin: 0;
}
.kaching-bundles .kaching-bundles__bars {
  gap: 28px;
}
.kaching-bundles .kaching-bundles__bar-most-popular__content:before, .kaching-bundles .kaching-bundles__bar-most-popular__content:after {
  display: none;
}
.kaching-bundles .kaching-bundles__bar-most-popular__content {
  text-transform: uppercase;
  color: #2c320e;
  font-weight: 600;
  margin: 0;
  border-radius: 12px;
  background: #b4d014;
  padding: 5px 8px 3px;
  font-family: "Inter Display";
  font-size: 16px;
  line-height: 1;
}
.kaching-bundles .kaching-bundles__bar-most-popular.kaching-bundles__bar-most-popular--simple {
  right: 31px;
  top: -12px;
}
.kaching-bundles__bar:last-child .kaching-bundles__bar-most-popular__content {
  background: #5C6B1A;
  color: #fff;
}
.kaching-bundles .kaching-bundles__free-gift__full-price {
  color: rgba(244, 243, 232, 0.75)!important;
  font-family: "Inter Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration-line: line-through;
  text-transform: uppercase;
  border-radius: 12px;
  background: #5C6B1A;
  padding: 4px 8px;
}
.kaching-bundles .kaching-bundles__free-gift__full-price:before {
  content: 'FREE';
  color: #fff;
  margin-right: 6px;
  text-decoration-thickness: 0;
  text-decoration-color: transparent;
}
.kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__title {
  color: #282828;
  font-family: "Inter Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__subtitle {
  color: #282828;
  font-family: "Inter Display";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}
.kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__checkbox {
  width: 16px;
  height: 16px;
  border-radius: 99px;
  border-color: #5C6B1A;
  background: transparent;
}
.kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__checkbox svg {
  background: #5C6B1A;
  width: 8px;
  height: 8px;
  border-radius: 9px;
}
.kaching-bundles .kaching-bundles__bar-main {
  gap: 18px;
}
.kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__checkbox svg path {
  stroke: #5C6B1A;
}
.kaching-bundles .kaching-bundles__subscriptions__card .kaching-bundles__bar-wrapper {
  border-radius: 5px;
  border: 1px dashed #B4D014;
  background: #F4FEC1;
  padding: 6px 14px!important;
  transition: all 0.3s ease;
  margin-top: 8px;
}
.kaching-bundles .kaching-bundles__bar[aria-checked="false"] .kaching-bundles__bar-wrapper {
  background: transparent;
}
.kaching-bundles .kaching-bundles__subscriptions.kaching-bundles__subscriptions--checkbox .kaching-bundles__bar-container {
  border: unset;
  margin-top: 8px;
}

@media (max-width: 980px) {
  .kaching-bundles .kaching-bundles__bar-title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .kaching-bundles .kaching-bundles__bar-subtitle {
    font-size: 14px;
  }
  .kaching-bundles .kaching-bundles__bar-price {
    font-size: 16px;
    margin-bottom: 0;
  }
  .kaching-bundles .kaching-bundles__bar-full-price {
    font-size: 14px;
  }
  .kaching-bundles .kaching-bundles__bar-image {
    max-height: 49px;
    width: 57px;
  }
  .kaching-bundles .kaching-bundles__free-gift__image {
    width: 28px;
    height: 28px;
  }
  .kaching-bundles .kaching-bundles__free-gift__text {
    font-size: 12px;
  } 
  .kaching-bundles .kaching-bundles__free-gift__main {
    gap: 10px;
    max-width: 225px;
  }
  .kaching-bundles .kaching-bundles__free-gift,
  .kaching-bundles .kaching-bundles__bar--selected .kaching-bundles__free-gift {
    padding-block: 5px;
    padding-inline: 5px;
  }
  .kaching-bundles .kaching-bundles__bar-wrapper {
    padding: 5px 16px 5px 12px!important;
  }
  .kaching-bundles .kaching-bundles__bars {
    gap: 16px;
  }
  .kaching-bundles .kaching-bundles__bar-most-popular__content {
    padding: 3px 8px;
    font-size: 10px;
  }
  .kaching-bundles .kaching-bundles__bar-most-popular.kaching-bundles__bar-most-popular--simple {
    right: 15px;
    top: -8px;
  }
  .kaching-bundles .kaching-bundles__free-gift__full-price {
    font-size: 10px;
    padding: 3px 8px;
  }
  .kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__checkbox {
    width: 14px;
    height: 14px;
    border-width: 1px;
  }
  .kaching-bundles .kaching-bundles__bar-main {
    gap: 14px;
  }
  .kaching-bundles .kaching-bundles__subscriptions__card .kaching-bundles__bar-wrapper {
    padding: 2px 14px!important;
  }
  .kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__title {
    font-size: 10px;
  }
  .kaching-bundles .kaching-bundles__subscriptions .kaching-bundles__subscriptions__subtitle {
    font-size: 8px;
  }
}