.timer-strip__item-title {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  color: #fff;
}
.timer-strip__inner-container {
  display: flex;
  gap: 12px;
}
.timer-strip__cell {
  font-weight: 500;
  line-height: 1;
  display: flex;
  gap: 4px;
  text-transform: uppercase;
  border-radius: 3px;
  background: #FFF;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 92px;
  padding: 7.5px 20px;
}
.timer-strip__item.offer-timer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.timer-strip__cell-unit {
  color: #00000080;
}

@media (max-width: 980px) {
  .timer-strip__item-title {
    font-size: 12px;
    line-height: 12px;
  }
  .timer-strip__inner-container {
    gap: 5px;
  }
  .timer-strip__cell {
    font-size: 12px;
    gap: 2px;
    max-width: 58px;
    padding: 6px 5px;
  }
  .timer-strip__item.offer-timer { gap: 8px }
}

@media (max-width: 399px) {
  /* .timer-strip__item-title {
    max-width: 137px;
  } */
  .timer-strip__item.offer-timer {
    justify-content: space-between;
  }
}